@use "./../../Styles/design/colors";

.no-wrap {
    white-space: nowrap;
}

.path-entry {
    @extend .no-wrap;
    display: grid;
    grid-template-columns: 12px auto;

    .icon {
        align-self: center;
        fill: colors.$font;
        height: 9px;
        width: 9px;
    }
}
