@use "./colors" as editor;

@mixin button-text-span-disabled() {
    > span {
        color: editor.$editor-disabled-dark;
    }
}

@mixin not-clickable() {
    cursor: default;
    pointer-events: none;
}

@mixin svg-icon-disabled() {
    ::deep {
        & > svg {
            path, polygon {
                fill: editor.$editor-disabled-dark;
            }
        }

        & > .monochrome-icon {
            color: editor.$editor-disabled-dark;
        }
    }
}
