@use "icons/monochrome-icons" with (
    $svg-base-url: "../icons/monochrome-icons"
);

@use "design/popup/variables" as popup;

// Popup overrides indicating discrepancies between Suite and Cluster Editor
.modal-content {
    font-weight: 400 !important;
}

// Ensure column chooser appears above dialogs
dxbl-popup-cell:has(.dxbl-grid-column-chooser-dialog) {
    z-index: #{popup.$z-index + 10} !important;
}
