@use "./../../../Styles/colors";
@use "./../../../Styles/sections";

.added-while-filtered-info {
    font-size: 10px;
    text-align: center;
}

.content-container {
    ::deep .tree-editor-container {
        @include sections.action-button-container-styles();
        @include sections.node-with-icon-styles();

        --vo-ui-tree-editor-color-drop-area-valid: transparent;
        --vo-ui-tree-editor-color-drop-area-invalid: transparent;

        .tree-node {
            &.highlighted {
                border: 1px solid colors.$editor-accent;
                margin: -1px;

                &:hover {
                    border-color: colors.$editor-font;
                }
            }
        }
    }
}
