@use "./../../Styles/colors";
@use "./../../Styles/mixins";

.btn.btn-toolbar {
    padding: 0px;

    &.active {
        ::deep > svg {
            path, polygon {
                fill: colors.$editor-accent;
            }
        }
    }

    &.adaptive-hidden {
        display: grid;
        grid-column-gap: 8px;
        grid-template-columns: 24px max-content;
    }

    &.disabled {
        @include mixins.not-clickable();
        @include mixins.svg-icon-disabled();
        @include mixins.button-text-span-disabled();
    }

    ::deep > svg {
        height: 24px;
        width: 24px;

        path, polygon {
            fill: colors.$editor-font;
        }
    }
}

.sidebar-top-container {
    background-color: colors.$editor-background;
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    height: 64px;
    padding: 16px 32px;
}

span {
    &.active {
        color: colors.$editor-accent;
    }
}
