@use "./../colors" as editor;
@use "./../design/colors";

@mixin action-button-container-styles() {
    .action-button-container {
        grid-template-columns: repeat(var(--button-count), min-content);

        > button {
            background-color: colors.$background-dark;
            color: colors.$font;
            height: 22px;
            width: 22px;

            &:disabled {
                cursor: default;
                color: editor.$editor-disabled-background-dark;
            }

            &:hover:not(:disabled) {
                background-color: colors.$background-dark-hover;
            }

            .icon {
                height: 16px;
                width: 16px;
            }
        }
    }
}

@mixin node-with-icon-styles() {
    .node-text {
        padding-left: 6px;
    }
}
