.section {
    padding-left: 15px;

    ::deep .ce-spin-edit {
        width: 80px;
    }

    &.dbg {
        padding: 0px 5px;
    }
}

.section-header {
    align-items: center;
    display: grid;
    font-size: 11px;
    font-weight: 700;
    grid-template-columns: auto min-content;
    padding: 10px 13px 3px 15px;
}
