@use "./../../../Styles/design/button";

.action-btn {
    background-color: transparent;
    border: 1px solid #00ff00;
    border-radius: button.$border-radius;
    color: #00ff00;
    margin: 2px;

    &:active {
        background-color: #00ff0040;
    }
}

.actions {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2, 50%);
}

.debug-console {
    background-color: #000000;
    border: 1px solid;
    border-radius: 4px;
    color: #00ff00;
    display: grid;
    font-family: monospace;
    font-size: 9px;
    grid-template-rows: min-content;
    margin: 8px;
    padding: 4px;
}

.key {
    text-align: left;
}

.kv-pair {
    display: grid;
    grid-template-rows: repeat(2, min-content);
}

.log-height {
    all: unset;
    border: 1px solid #00ff00;
    border-radius: 4px;
    height: min-content;
    margin: 2px;
    padding: 1px 10px;
    text-align: center;
}

.log-message {
    display: grid;
    grid-template-columns: min-content auto;

    .msg {
        line-break: anywhere;
        padding-left: 2px;
    }

    .msg-info {
        cursor: help;
        border: 1px solid #00ff00;
        border-radius: 8px;
        margin: 2px 2px;
        width: 10px;
    }
}

.value {
    text-align: right;
}

.values {
    height: var(--dbg-log-height);
    overflow: auto;
}
