@use "./../../../Styles/colors" as editor;
@use "./../../../Styles/design/colors";

.settings {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: max-content auto;
    grid-template-rows: repeat(7, 32px);
    padding: 0px 15px;

    > .heading {
        font-size: 12px;
        font-weight: 700;
        grid-column: span 2;
    }

    > .label {
        padding-top: 4px;
        padding-left: 15px;
    }

    > ::deep .switch {
        align-self: center;
    }
}

.section {
    padding-left: 15px;

    ::deep .ce-spin-edit {
        width: 80px;
    }

    &.dbg {
        padding: 0px 5px;
    }
}

.section-header {
    align-items: center;
    display: grid;
    font-size: 11px;
    font-weight: 700;
    grid-template-columns: auto min-content;
    padding: 10px 13px 3px 15px;

    .options-button-base {
        align-items: center;
        border-radius: 4px;
        display: flex;
        height: 24px;
        justify-content: center;
        outline: 1px solid colors.$border;
        width: 24px;

        &:hover {
            background-color: colors.$background-darker-hover;
        }

        &.active {
            background-color: editor.$editor-background-dark-active;
        }
    }
}
