@use "./../../../Styles/colors.scss" as editor;

$property-container-expansion-placeholder-width: 16px;
$property-container-property-name-width: 120px;
$property-container-property-value-padding-left: 5px;
$property-container-row-height: 38px;

.property-container {
    display: grid;
    grid-template-columns: auto;
}

.form-button-container {
    align-items: center;
    background-color: #343434;
    display: flex;
    min-height: $property-container-row-height;
    padding-left: $property-container-expansion-placeholder-width + $property-container-property-name-width + $property-container-property-value-padding-left;

    ::deep .action-button {
        grid-area: buttons;

        &:not(:last-of-type) {
            margin-right: 8px;
        }
    }
}
