.dragging-published-connector {
    cursor: var(--published-connector-cursor);
    height: 96px;
    left: var(--left);
    padding: 24px;
    position: fixed;
    top: var(--top);
    visibility: var(--visible);
    width: 96px;
    z-index: 10;
}
