@use "./../Styles/colors" as editor;
@use "./../Styles/design/colors";

.diagram-container {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    position: relative;

    ::deep > .diagram-canvas {
        cursor: default;
        grid-column: 1;
        grid-row: 1;

        .diagram-node {
            &.locked {
                pointer-events: none;
            }

            /*
                We reverted back to using the z-index to show selected nodes on top
                instead of using the .Order property of the Diagram library.
                The .Order property is using DOM ordering (i.e. nodes on top are further
                at the bottom in the generated HTML) which causes a rerendering of the
                nodes. This results in unexpected event handling issues like not registering
                'click' events on connectors if the node was selected before or triggering
                additional 'pointerenter' events after selection without triggering the
                associated 'pointerleave' events on the node.
            */
            &.selected {
                z-index: 1000000;
            }
        }

        .diagram-link {
            cursor: unset;
        }
    }

    ::deep .edge-dragging-area-container {
        grid-column: 1;
        grid-row: 1;
    }

    ::deep > .minimap-container {
        bottom: 25px;
        position: absolute;
        right: 25px;
    }

    ::deep .label-container.ql-editor > * {
        cursor: unset;
    }
}

.drag-and-drop-ghost {
    background-color: transparent;
    grid-column: 1;
    grid-row: 1;
    visibility: collapse;
    z-index: 100;

    .visible {
        visibility: visible;
    }
}

.node-editor-container {
    background-color: colors.$background-dark;
    display: grid;
    height: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: auto 10px;
    grid-template-rows: auto 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 5px;
    padding-top: 0px;

    ::deep {
        --canvas-grid-size: 10px;
        --node-border-width: 1px;

        .scrollbar-container {
            &.horizontal {
                grid-column: 1;
                grid-row: 2;
            }

            &.vertical {
                grid-column: 2;
                grid-row: 1;
            }
        }
    }
}
